@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.chatbot {
  position: fixed;
  bottom: 0;
  right: 50px;
  height: 500px;
  width: 300px;
  max-height: 100%;
  overflow: hidden;
  background-color: var(--bs-light);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: height 0.2s linear;
}

.chat-header {
  position: relative;
  top: -10px;
  /* text-align: center; */
  background-color: #4287f5;
  margin: 0 -10px;
  padding-left: 10px;
}

.close-button {
  position: absolute;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  top: 8px;
  right: 6px;
  cursor: pointer;
}

.chat-container {
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);
}

.chats-container {
  height: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chats-container::-webkit-scrollbar {
  width: 10px;
}

.chats-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.chats-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.chats-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

form.chat-container input {
  font-size: 14px;
}

.user-chat {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: -5px;
  margin-top: 10px;
}

.user-chat-text {
  background-color: #fff;
  color: var(--bs-dark);
  padding: 2px 7px;
  font-size: 14px;
  border-radius: 15px;
  margin-bottom: 5px;
  text-align: right;
  width: max-content;
}

.user-chat-addon {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 0 50% 0 50%;
  position: relative;
  bottom: -15px;
  right: 10px;
  z-index: -1;
}

.chat-button {
  cursor: pointer;
}

.bot-typing {
  position: relative;
  bottom: 10px;
  font-style: italic;
  width: 100%;
  background-color: var(--bs-light);
}

.bot-chat {
  font-size: 14px;
}

.toggle-button {
  position: fixed;
  bottom: 20px;
  right: 200px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4287f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.toggle-button box-icon {
  position: absolute;
  bottom: -10px;
  right: -10px;
}
