{% extends 'buset/base.html' %}

{% block content %}
<div class='uk-container uk-margin-top'>
    <h1>Mau {{form}} mandiri?</h1>
    <div class='card-columns'>
        {% for i in youtube %}
        <div class ="card">
            <iframe width="420" height="315"
src="https://www.youtube.com/embed/{{i.id.videoId}}">
</iframe>
            </div>
        {% endfor %}
        </div>

<h1>Bingung {{form}} Sendiri?</h1>
<div class='card-columns'>
    {% for i in context %}
    <a class="uk-link-heading uk-animation-toggle" tabindex="0" href="https://www.google.com/maps/search/?api=1&query={{i.geometry.location.lat}}%2C{{i.geometry.location.lng}}">
    <div class ="card">
        <img class=' card-img-top' src="{{i.icon}}">
        <div class="card-body">
        <h2 class="card-title h5">{{i.name}}</h2>
        <p class="card-text"><span uk-icon="star"></span>{{i.rating}}</p>
        <p class="card-text"><span uk-icon='home'></span>{{i.formatted_address}}</p>
        </div>

    </div>
    </a>
    {% endfor %}
    </div>
</div>
{% endblock%}