{% extends 'buset/base.html' %}

{%block content%}
<div class='container'>
<article class="uk-article">

    <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{posting.post_title}}</a></h1>
    <img src="/buset/media/{{posting.post_image}}"></img>

    <p class="uk-article-meta">Partner <a href="#">{{posting.user}}</a> on {{posting.post_date_modified}}</p>
    <p>{% load idr %}{{posting.post_price | currency}}</p>
    <p>{{posting.post_description}}</p>

    <p>{{posting.post_text}}</p>

    <a href="https://wa.me/{{posting.number}}?text=Halo%20{{posting.user}}%20ada%20yang mau langganan nih!"><button class='uk-button uk-button-primary'>HUBUNGI PARTNER</button></a>

</article>
</div>
{%endblock%}