{% extends 'buset/base.html' %}

{%block content%}
<div class='container'>
<article class="uk-article">

    <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{posting.post_title}}</a></h1>
    <img src="/buset/media/{{posting.post_image}}"></img>

    <p class="uk-article-meta">Partner <a href="#">{{posting.user}}</a> on {{posting.post_date_modified}}</p>
    <p>{% load idr %}{{posting.post_price | currency}}</p>
    <p>{{posting.post_description}}</p>

    <p>{{posting.post_text}}</p>
    
    <a href="https://wa.me/62{{posting.user.profile.phonenumber}}?text=Halo%20{{posting.user}} ada%20yang%20mau%20langganan%20nih%21%0A%0AAku%20dapet%20nomor%20kamu%20dari%20http%3A%2F%2F160.19.227.93%3A8000%2Fbuset%2Fpost%2F{{posting.slug}}%20%21%20Aku%20tertarik%20dengan%20tawaranmu%20yang%20menawarkan%20{{posting.post_title}}%20dengan%20harga%20{% load idr %}{{posting.post_price | currency}}%2C%20tolong%20balas%20pesan%20ini%20ya."><button class='uk-button uk-button-primary'>HUBUNGI PARTNER</button></a>

</article>
</div>
{%endblock%}