<div class="uk-padding-large uk-text-white uk-background-secondary uk-container uk-grid-row uk-width-1-1 text-white uk-margin-top">
<div class='uk-grid uk-grid-large uk-grid-col uk-margin-top'>
    <div class=>
        <a class='uk-text-bold uk-text-large'>RELATE!</a><br/>Repair Electronic Website<br/>
        <br/><a class='uk-text-bold uk-text-medium'>BUSET?</a><br/>Butuh Service Elektronik? RELATE in aja!
    <p></p>
    </div>
    <div ><p class='uk-text-bold'>Customer Service</p>
        <p><a class= "uk-link-text" href="">Bagian Hardware</a></p>
        <p><a class="uk-link-text" href="">Bagian Software</a></p>
    </div>
    <div ><p class='uk-text-bold'>Information</p>
        <p><a class= "uk-link-text" href="">About Us</a></p>
        <p><a class="uk-link-text" href="/buset/faq">FAQ</a></p>
        <p><a class="uk-link-text" href="">Terms and Agreement</a></p>
    </div>
    <div ><p class='uk-text-bold'>Dimanakah kita?</p>
    </div>
</div>
    Copyright &copy 2022 RELATE! - All Right Reserved
</div>
