{% extends "buset/base.html" %}

{% block content %}      

{% load crispy_forms_tags %}
{% load socialaccount %}
{% load static %}
<!--Login--> 


<div class="uk-width-auto uk-padding uk-card uk-card-default uk-card-small uk-card-hover uk-padding uk-margin uk-container">
    <div class="uk-margin uk-text-center">
        <h1>Deteksi Layar</h1>
    {% if predik %}
        <a href="/buset{{predik}}"><img src="/buset{{predik}}" class="imageClipLayar img-fluid mh-50 mw-50" /></a>
         
        <p>Unggah lagi?<br/><a href="/buset/layar">klik disini</a></p>
    {% else %}
        Untuk prediksi masalah, silakan unggah masalah yang dihadapi, lalu tunggu sistem bekerja.
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ layar|crispy }}
          <button class="uk-button uk-button-primary uk-margin-top" type="submit">UNGGAH</button>
        </form>
    {% endif %}
</div> 
</div>
{% endblock %}