{% load static %}
<nav uk-sticky class="uk-padding-small navbar navbar-expand-sm navbar-light bg-white topbar mb-4 static-top shadow">
    <a class="navbar-brand" href="/buset/">Relate</a>


    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form
        class="form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group bg-light">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Ceritakan masalahmu..."
                aria-label="Search" aria-describedby="basic-addon2"><a class='mx-3 my-2' uk-icon='camera' href='/buset/layar'></a>
                
                <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"><span uk-icon="search"></span></i>
                </button>
            </div>
        </div>
    </form>

      <ul class="navbar-nav my-auto">

        {% comment %} <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">drop1</a>
            <a class="dropdown-item" href="#">drop2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">drop...</a>
          </div> {% endcomment %}


        {% if user.is_authenticated %} 
 
        <div class="input-group-append">
        <li class="nav-item mx-2 my-auto"><a href="/buset/cart" uk-icon="icon: cart"></a></li>
        <li class="nav-item mx-2 my-auto"><a href="" uk-icon="icon: heart"></a></li>
        <li class="nav-item mx-2 my-auto"><a href="/buset/post" uk-icon="icon: plus-circle"><span ></span></a></li>
        </div>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                <img class="img-profile rounded-circle" style='width:40px; height:40px;'
                    src="{% static 'buset/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg' %}">{{user.username}}
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    <span uk-icon='user'></span> <span>Profile</span>
                 </a>
  
                <a class="dropdown-item" href="/buset/logout">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    <span uk-icon='sign-out'></span> Logout
                </a>
             </div>

            
        </li>
        {% else %}
        <div class="nav-item input-group-append">        
        <a href="/buset/login">
            <button class="uk-button uk-margin-small-right">Masuk</button>
            
        </a>

        <a href="/buset/register">
            <button class="uk-button uk-button-primary">Daftar</button>
            
        </a>
    </div>
        {% endif %}

      </ul>

      
      
      
    </div>
  </nav>